<%- include('./partials/header') %>
  <%- include('./partials/navbar') %>


    <section id="pg-1" class="px-[17rem] relative mt-8 h-[131vh]">
      <div class="absolute left-0 top-[23rem] w-[100%] h-[48rem] overflow-hidden">
        <img class="h-full w-full object-cover"
          src="https://images.unsplash.com/photo-1484417894907-623942c8ee29?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="">
      </div>
      <div class="absolute right-[17rem]">
        <img class="h-full w-full" src="/images/01-Design.png" alt="" srcset="">
      </div>
      <div id="page-1-in" class="">
        <div id="content-1" class="absolute text-9xl leading-[9rem] font-bold">
          <h1>BEST</h1>
          <h2 class="my-text-stroke text-transparent">WEBSITE</h2>
          <h1 class="italic">DEVELOPMENT</h1>
        </div>
      </div>
    </section>

    <section id="pg-2" class="px-[17rem] my-[5rem] h-[24rem] w-full">
      <div id="pg-2-in" class="w-full h-full flex">

        <div id="lhs-2" class="w-[40%] h-full relative flex justify-center items-center ">

          <div class="absolute circular-text text-md flex justify-center items-center  "
            data-text="SNOITULOS NGISED BEW EVITEARC EDIVORPEW">
          </div>

          <i class="ri-star-line absolute text-[6rem] text-[--primary-clr] "></i>

        </div>

        <div id="rhs-2" class="w-[60%] h-full pl-14">
          <h5 class="text-[--primary-clr] text-xl font-semibold"><i class="ri-expand-right-line"></i>&nbsp; About
            Company</h5>
          <h1 class="text-5xl font-semibold mt-6 mb-11">Our Main Goal to Satisfied <br> Local & Global Clients</h1>
          <p class="text-xl leading-8 pb-9">At Vdigtech, we understand that your online presence is more than just code
            and graphics; it’s the digital heartbeat of
            your brand. That’s why we specialize in creating custom web solutions tailored to your unique needs.</p>

          <a href="" class="ml-16 border-b-[1px] border-transparent hover:border-gray-100 duration-200 py-2 px-2 ">Read
            More <i class="ri-arrow-right-line"></i></a>
        </div>

      </div>
    </section>

    <section id="pg-3" class="min-h-[52rem] w-full px-[17rem]">
      <div class="py-20">
        <h1 class="text-[10rem] font-bold leading-[10rem]">WEB <span
            class="my-text-stroke text-transparent">DESIGN</span> AGENCY </h1>
      </div>

      <div class="w-full flex justify-between px-10  my-[10rem]">

        <% const content3=[{n: '250' , title: 'Projects' }, {n: '125' , title: 'Clients' }, {n: '25' , title: 'Experts'
          }] %>
          <% content3.forEach((item, index)=> { %>

            <div class="box-3 ">
              <div id="icon-wrapper"><i class="ri-checkbox-circle-line text-2xl text-[--primary-clr] "></i></div>
              <div id="num-count"
                class="my-text-stroke-2 text-transparent text-[8rem] leading-[8rem] font-bold mt-2 mb-4">
                <%= item.n %>
              </div>
              <div id="content-3" class="uppercase text-xl">
                <%= item.title %>
              </div>
            </div>

            <% }) %>

      </div>
    </section>

    <section id="pg-4" class="min-h-[75rem] w-full px-[17rem]">
      <div id="subTitle-4" class="flex flex-col items-center">
        <h1 class="uppercase text-center text-[3.5rem]">Our Services</h1>
        <p class="text-center text-xl my-12 w-2/3">Comprehensive Website Services to Ignite Your Online Success. Empower
          Your Business with Powerful Online Services from
          our Website.</p>
      </div>

      <div id="cards-container-4" class="flex flex-wrap justify-center gap-8  py-16">

        <% const data4=[ {title: "Website Development" , link: "" ,
          imgUrl: "https://mojodesign.io/wp-content/uploads/2023/12/Screenshot_7.jpeg"
          }, {title: "App Development" , link: "" ,
          imgUrl: "https://d2ms8rpfqc4h24.cloudfront.net/mobile_application_development_ad3f711b7d.jpg" },
          {title: "Digital Marketing" , link: "" ,
          imgUrl: "https://media.licdn.com/dms/image/D4D12AQEBJ2677xwr_w/article-cover_image-shrink_720_1280/0/1674400723466?e=2147483647&v=beta&t=QXXHofRqm83oKff-9aL1DvhFBzSyZSRefZ2PkjXhtmU"
          }, {title: "Website Maintenance" , link: "" ,
          imgUrl: "https://iaihnwlotim.ac.id/wp-content/uploads/2022/12/Maintenance-Page.jpg" }, 
          {title: "Graphic Design" , link: "" ,
          imgUrl: "https://www.georgeanimatrix.com/blog/wp-content/uploads/2023/08/jpeg-optimizer_14-1.jpg" },
          {title: "Domain & Hosting" , link: "" , imgUrl: "https://www.cloudoye.com/images/blog/the-best-web-hosting-services-for-2019_b2ue%20(1).jpg" },] %>

          <% data4.forEach((item, index)=> { %>
            <div id="card-4"
              class="bg-[--card-bg] w-[16rem] h-[19rem] p-3 <%= (index==0)?`bg-[--primary-clr] text-black`:`` %> ">
              <div class="relative mb-7">
                <img class="absolute right-4 top-8" src="/images/services/ellipse.png" alt="">
                <img src="/images/services/<%= index+1 %>.png" class=" pt-8 pl-8 box-content" width="60px" height="60px"
                  alt="">
                <a href=""
                  class="absolute top-0 right-0 bg-[--primary-bg] h-[42px] w-[42px] p-1 pb-[6px] flex justify-center items-center text-3xl text-white "><i
                    class="ri-arrow-right-up-line"></i></a>
              </div>
              <h1 class="text-center text-xl font-semibold h-16 ">
                <%= item.title %>
              </h1>

              <img src="<%= item.imgUrl %>" class="object-cover object-center  w-[233px] h-[93px] overflow-hidden"
                alt="">

            </div>
            <% }) %>

      </div>

    </section>
    
    <%- include('./partials/footer') %>